.navbar {
    margin-bottom: 20px;
}

.indexDiv {
    height: 500px;
}

#welcomeText {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}


@media only screen and (max-width: 900px) {
    .hide-on-mobile {
        display: none;
    }

    .table-container {
        padding: 0;
    }
}

