.indexDiv {
    height: 500px;
}

#welcomeText {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.tableInfo {
    font-size: small;
    color: #4e555b;
}

.tableHeader {
    margin-bottom: 20px;
    margin-top: 20px;
    color: #333A40;
}

td, th {
    border: 0 !important;
}

th {
    background-color: #FAFAFA !important;
    color: #333A40 !important;
}

@media only screen and (max-width: 900px) {
    .hide-on-mobile {
        display: none;
    }

    .table-container {
        padding: 0;
    }
}

